*{
    margin: 0px;
    padding: 0px;
}

/*VARIABLES*/
$fondo-menu: #AFEEEE;
$fondo-redes-footer: white;
$color-letra-menu: black;
$color-fondo-principal: #DB7093;
$color-fondo-secundario: lightpink;
$color-letra: beige;
$color-letra-secundario: #E0FFFF;
$color-letra-inicio: #7FFFD4;
$color-letra-selecciones: #FFD700;
$color-letra-productos: #F0F8FF;
$color-icono-maps: #87CEEB;


$redes: (
    whatsapp: #00bb2d,
    instagram: #DD2A7B,
    facebook: darkblue,
);

html {

    font-size: 62.5%;
}

body {

    font-family: 'Raleway', sans-serif;
}

main {

    
    background-color: $color-fondo-principal;
}

.footer {
    
    color: $color-letra-menu;
    background-color: $color-fondo-secundario;
    font-size: 2rem;
}

.footer__enlace:hover {
    
    background: $fondo-redes-footer;
}

@each $red, $color in $redes {

    .footer_redes--#{$red} { 
        color: $color;
    }
}

@mixin sizes($width, $height) {
    
    width: $width;
    height: $height;
    
}

ul {

    list-style-type:none;
}

.container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.imagenPrincipal {

    @include sizes(100%,auto);
  
}

.imagenesInicio {

    @include sizes(auto,auto);
    max-height: 400px;
    max-width: 400px;

}

.tituloLista {
    
    color: $color-letra-inicio; 
    font-size: 3.5rem;
    text-align: center;
    padding-top: 2%;
  
}

.listaInicio {
    
    color: $color-letra-productos;
    font-size: 3rem;
    justify-content: center;

}

.tituloIndex {
    
    color: $color-letra-selecciones;
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    border-bottom: solid 5px $color-fondo-secundario;
    border-top: solid 5px $color-fondo-secundario;
    animation-duration: 4s;
    animation-name: aparecer;

}

@keyframes aparecer {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menuPrincipal {
    
    color: $color-letra-menu;
    background-color: $fondo-menu;
    font-size: 3rem;
    line-height: 1.5;
    display: flex;
    justify-content: space-evenly;

}

.menuPrincipal__enlace {
    
    color: $color-letra-menu;
    text-decoration: none;
}

.menuPrincipal__enlace:hover {

    background: #008080;
    color: mintcream;
    transform: scale(1.2,1.2);
}

.sectionNosotros {

    padding: 100px;

}

.backgroundColor{

    background-color: $color-fondo-secundario;

}

.card-text_custom {

    color: $color-letra;
    font-size: 20px;
    font-weight: bold;
}


.subtitulosNosotros {
    
    padding-bottom: 30px;
    padding-top: 30px;
    color: $color-letra;
    font-size: 3.5rem;
    margin-left: 16px;
    margin-right: 32px;

}

.subtitulosLocales {

    text-align: center;
    color: $color-letra-secundario;
    font-weight:20rem;
    font-size: 4rem;
    padding-top: 35px;  
    padding-bottom: 35px;  
}

.h3_locales {

    text-align: center;
    color: $color-letra;
    font-style:normal;
    font-size: 3rem;
    padding-top: 35px;  
    padding-bottom: 35px; 
}
.buscar_locales{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}
.locales {

    display: flex;
    justify-content:space-evenly;
    flex-direction: row-reverse;
    padding-right: 750px;
}

.locales__direcciones {
    display: grid;
    padding-top: 100px;
    padding-bottom: 100px;
    grid-template-columns: 40px 100px;
    margin-left: 10px;
}

.locales__mapa{
    display: grid;
    padding-top: 100px;
    padding-bottom: 100px;
    grid-template-columns: 40px 100px;
    margin-left: 10px;
}

.direcciones__descripcion {

    font-size: 2rem;
    color: $color-letra;
    @include sizes(300px,50px);
    margin-top: 10px;
    margin-left: 32px;
    margin-right: 16px;
}

.subtituloPrincipal {

    font-size: 3.5rem;
    color: $color-letra;
    text-align: center;
    padding: 30px;
}

.sectionForm form legend {
    
    padding: 20px;

}

.sectionForm {

    font-size: 3rem;
    color: $color-letra;
    padding-left: 200px;
    padding-right: 300px;
    padding-bottom: 200px;
    padding-top: 100px;
}

.sectionForm div {

    margin: 10px 30px;

}

.maps {
    
    color: $color-icono-maps;
    font-size: 32px;
    @include sizes(400px,100px);
    margin-top: 10px;
    margin-left: 32px;
    margin-right: 16px;
}

.catalogo {
    
    display: grid;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    gap:150px;
}

.catalogo__producto {
    
    border: 3px solid $color-fondo-secundario;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @include sizes(400px,400px);
    
}

.producto__img {
    
    border: 3px solid $color-fondo-secundario;
    max-width: 23vw;
    @include sizes(250px, 250px);
     
}

.producto__img:hover {

    transform: scale(1.5, 1.5);
}

.producto__descripcion {
    
    font-size: 2.5rem;
 
}

.btn-lg {

    @include sizes(100px,50px);
    font-size:medium; 

}

@media (max-width: 1440px) {

    .imagenPrincipal{

    @include sizes(100%,auto);
    
    }

    .locales {
        padding-right: 650px;
    }
    .locales__mapa{
        padding-left: 250px;
    }
    .locales__direcciones{
        padding-left: 120px;
    }
}

@media (max-width: 1024px) {

    .imagenPrincipal{

    @include sizes(100%,auto);
    
    }

    .imagenesInicio{

        @include sizes(auto,auto);
        max-width: 275px; 
        padding-left: 40px; 
        padding-top: 25px;
    }

    .menuPrincipal{
        font-size:x-large;
    }

    .tituloIndex{
        font-size: 2.5rem;
    }

    .container {

        padding-top: 25px;
        padding-bottom: 50px;
    }

    .tituloLista{
        font-size: 2.5rem;
    }
    .listaInicio {
        font-size: 2rem;
        margin-bottom: 35px;   
    }
    .locales {
        padding-right: 650px;
    }
    .locales__mapa{
        padding-left: 250px;
    }
    .locales__direcciones{
        padding-left: 120px;
    }
    .direcciones__descripcion {
        font-size: 1.8rem;
    }
    .catalogo {
        padding-top: 50px;
        padding-bottom: 50px;
        grid-template-columns: 250px 250px 250px ;
        grid-template-rows: 250px 250px 250px ;
        gap:40px;
    }
    .catalogo__producto {
        @include sizes(250px, 250px); 
        padding-top: 10px;
    }
    .producto__img {
        max-width: 135px;
        @include sizes(250px, 250px); 
    }
    .producto__descripcion {
        padding-top: 10px;
        font-size: 1.7rem;
    }
    .subtituloPrincipal{
        padding: 35px;
        font-size: 3rem;
    }
    .sectionForm{
        padding-top: 15px;
        padding-bottom: 30px;
        padding-left: 35px;
        padding-right: 95px;
        font-size: 2rem;
    }
    .footer {
        font-size: 1.7rem;
    }
}
  
@media (max-width: 768px) {

    .imagenPrincipal {
    
        @include sizes(100%,auto);        
    }
    .imagenesInicio{

        @include sizes(auto,auto);
        max-width: 500px; 
        margin: 35px 55px 0px 55px;
        padding: 12px 20px;
    }

    .menuPrincipal{
        font-size:large;
    }
    .tituloIndex{
        font-size: 2.5rem;
    }
    .container {
        margin: 0px 10px 0px 30px;
        padding: 25px 40px 40px 40px;
    }

    .tituloLista{ 
        font-size: 2.5rem;
    }
    .listaInicio {
        font-size: 2rem;
        margin: 0px 0px 35px 80px;
        padding: 0px;
    }
    .subtitulosLocales{
        font-size: 2.5rem;
        padding-top: 30px;  
        padding-bottom: 25px;
    }
    .h3_locales{
        font-size: 2rem;
        padding-top: 10px;  
        padding-bottom: 15px; 
    }
    .locales {
        display:inline;
    }
    .locales__direcciones {
        display: grid;
        padding-top: 5px;
        padding-bottom: 5px;
        grid-template-columns: 40px 50px;
        margin-left: 10px;
    }
    .locales__mapa{
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 10%;
    }
    .direcciones__descripcion {
        font-size: 1.8rem;
    }
    .maps {
        font-size: 1.8rem;
        @include sizes(250px,75px);
        margin-top: 10px;
        margin-left: 32px;
        margin-right: 16px;
    }
    .subtitulosNosotros{
        font-size: 2.3rem;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .sectionNosotros {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .descripcion_nosotros{
        font-size: 1.8rem;
    }
    .catalogo {
        padding-top: 50px;
        padding-bottom: 50px;
        grid-template-columns: 200px 200px 200px ;
        grid-template-rows: 200px 200px 200px ;
        gap:40px;
    }
    .catalogo__producto {
        @include sizes(200px, 200px); 
        padding-top: 10px;
    }
    .producto__img {
        max-width: 110px;
        @include sizes(250px, 250px); 
    }
    .producto__descripcion {
        padding-top: 10px;
        font-size: 1.4rem;
    }
    .subtituloPrincipal{
        padding: 35px;
        font-size: 2.5rem;
    }
    .sectionForm{
        padding-top: 15px;
        padding-bottom: 30px;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 1.5rem;
    }
    .footer {
        font-size: 1.7rem;
    }

}
@media (max-width: 425px) {

    .imagenPrincipal{

        @include sizes(100%,auto);
        
    }
    .imagenesInicio{

        @include sizes(auto,auto);
        max-width: 300px; 
        margin: 35px 45px 0px 45px;
        padding: 12px 20px;
    }

    .menuPrincipal{
        font-size:small;
    }
    .container{
        margin: 0px;
        padding: 10px 25px 40px 25px;
    }
    .tituloIndex{
        font-size: 2rem;
    }

    .tituloLista{
        font-size: 2rem;
    }
    .listaInicio {
        font-size: 1.5rem;
        margin-left: 65px;
    }
    .subtitulosLocales{
        font-size: 2rem;
        padding-top: 30px;  
        padding-bottom: 15px;
    }
    .h3_locales{
        font-size: 1.5rem;
        padding-top: 10px;  
        padding-bottom: 15px; 
    }
    .locales {
        display:inline;
        padding: 0px;
    }
    .locales__mapa{
        padding: 50px 10% 30px 15%;
        margin: 0px;
    }
    .locales__direcciones{
        padding-left: 10%;
    }
    .locales__mapa iframe{
        @include sizes(auto,auto);
        max-width: 425px; 
        max-height: 600px;
    }
    .direcciones__descripcion {
        font-size: 1.5rem;
    }
    .maps {
        font-size: 1.5rem;
        @include sizes(200px,50px);
        margin-top: 10px;
        margin-left: 32px;
        margin-right: 16px;
    }
    .subtitulosNosotros{
        font-size: 2rem;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .sectionNosotros {
        padding: 30px 50px;
    }
    .descripcion_nosotros{
        font-size: 1.5rem;
    }
    .catalogo {
        padding-top: 50px;
        padding-bottom: 50px;
        grid-template-columns: 150px 150px ;
        grid-template-rows: 150px 150px ;
        gap:40px;
    }
    .catalogo__producto {
        @include sizes(150px, 150px); 
        padding-top: 10px;
    }
    .producto__img {
        max-width: 75px;
        @include sizes(250px, 250px); 
    }
    .producto__descripcion {
        padding-top: 10px;
        font-size: 1.2rem;
    }
    .subtituloPrincipal{
        padding: 20px;
        font-size: 2rem;
    }
    .sectionForm{
        padding-top: 15px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 50px;
        font-size: 1.5rem;
    }
    .footer {
        font-size: 1.5rem;
    }
    
}
@media (max-width: 375px) {

    .imagenPrincipal{

        @include sizes(100%,auto);
        
    }
    .imagenesInicio{

        @include sizes(auto,auto);
        margin: 0px 30px;
        padding: 0px 20px;
    }
    .menuPrincipal{
        font-size:small;
    }

    .tituloIndex{
        font-size: 2rem;
    }

    .tituloLista{
        font-size: 2rem;
    }
    .listaInicio {
        font-size: 1.5rem;
        margin-left: 50px;
        padding-left: 0px;
    }
    .subtitulosLocales{
        font-size: 2rem;
        padding-top: 30px;  
        padding-bottom: 15px;
    }
    .h3_locales{
        font-size: 1.5rem;
        padding-top: 10px;  
        padding-bottom: 15px; 
    }
    .locales {
        display:inline;
        padding-right: 0px;
    }
    .locales__mapa{
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 10%;
        margin-left: 0px;
    }
    .locales__direcciones{
        padding-left: 0px;
    }
    .locales__mapa iframe{
        @include sizes(auto,auto);
        max-width: 425px; 
        max-height: 600px;
    }
    .direcciones__descripcion {
        font-size: 1.5rem;
        margin-right: 0px;
        margin-left: 16px;
    }
    .maps {
        font-size: 1.5rem;
        @include sizes(200px,50px);
        margin-top: 10px;
        margin-left: 32px;
        margin-right: 16px;
    }
    .subtitulosNosotros{
        font-size: 2rem;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .sectionNosotros {
        padding: 30px 20px;
    }
    .descripcion_nosotros{
        font-size: 1.5rem;
    }
    .catalogo {
        padding-top: 50px;
        padding-bottom: 50px;
        grid-template-columns: 150px 150px ;
        grid-template-rows: 150px 150px ;
        gap:40px;
    }
    .catalogo__producto {
        @include sizes(150px, 150px); 
        padding-top: 10px;
    }
    .producto__img {
        max-width: 75px;
        @include sizes(250px, 250px); 
    }
    .producto__descripcion {
        padding-top: 10px;
        font-size: 1.2rem;
    }
    .subtituloPrincipal{
        padding: 20px;
        font-size: 2rem;
    }
    .sectionForm{
        padding: 15px 55px 35px 0px;
        font-size: 1.5rem;
    }
    .footer {
        font-size: 1.5rem;
    }
}    